
<div class="row">
<div class="col-lg-6"> 

<%= form_for @pin, html: { multipart: true } do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3 class="centertext">Don't worry, you can edit your landing page after you submit</h3>

  <div class="form-group">
       <%= f.label :choose_your_epic_background_photo %>
       <%= f.select(:background, options_for_select([['clouds', 'clouds'], ['river', 'river'], ['old man', 'oldman'], ['mountain bridge', 'mountainbridge'], ['hollywood', 'hollywood'], ['flowers close up', 'flowercloseup'], ['water bridge', 'waterbridge'], ['plane in clouds', 'planeinclouds'], ['birds eye view', 'birdseyeview'], ['storm clouds', 'stormclouds'], ['hollywood', 'hollywood'], ['horn', 'horn'], ['person in water', 'personinwater'], ['rocks', 'rocks'], ['forest', 'forest'], ['islands', 'islands'], ['flowers', 'flowers'], ['shop window', 'shopwindow'], ['wood', 'wood'], ['twilight', 'twilight'], ['abstract', 'abstract'], ['structure', 'structure'], ['los angeles', 'losangeles'], ['canyon', 'canyon'], ['freeway', 'freeway'], ['car', 'car'], ['nyc', 'nyc'], ['reading room', 'readingroom'], ['ballpark', 'ballpark'], ['college campus', 'collegecampus'], ['dinner', 'dinner'], ['rain', 'rain'], ['obama', 'obama'], ['louvre', 'louvre'], ['pedestrian', 'pedestrian'], ['guitar', 'guitar'], ['puppy', 'puppy'], ['cat', 'cat'], ['bartender', 'bartender'], ['europeanstreet', 'europeanstreet'], ['candy', 'candy'], ['worldsubway', 'worldsubway'], ['columbia university', 'columbiauniversity'], ['club', 'club'], ['spring', 'spring'], ['happy', 'happy'], ['winter', 'winter'], ['streetromance', 'streetromance'], ['duke', 'duke'], ['fireworks', 'fireworks'], ['selfie', 'selfie'], ['dj', 'dj'], ['chess', 'chess'], ['princeton', 'princeton'], ['hearts', 'hearts'], ['harvard', 'harvard'], ['stanford', 'stanford'], ['mit', 'mit'], ['legos', 'legos'], ['yale', 'yale'], ['monticello', 'monticello'], ['pyramids', 'pyramids'], ['space', 'space'], ['uva lawn', 'uvalawn'], ['road', 'road'], ['old map', 'oldmap'], ['penguins', 'penguins'], ['police', 'police'], ['grand central', 'grandcentral'], ['degas painting', 'degaspainting'], ['walking', 'walking']], @pin.background), {}, {class: "form-control"}) %>
      </div>  

  <div class="form-group">
    <%= f.label :word_or_phrase_that_will_replace_uber %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :word_or_phrase_that_will_replace_grocery_fucking_coupons %>
    <%= f.text_field :market, class: "form-control" %>
  </div>

    <div class="form-group">
       <%= f.label :choose_your_meme_user %>
       <%= f.select(:meme, options_for_select([['Actual Advice Mallard', 'actualadvicemallard'], ['Advice God', 'advicegod'], ['Annoying Facebook Girl', 'annoyingfacebookgirl'], ['Baby Godfather', 'babygodfather'], ['Bad Luck Brian', 'badluckbrian'], ['Business Cat', 'businesscat'], ['College Liberal', 'collegeliberal'], ['Condescending Wonka', 'condescendingwonka'], ['Confession Bear', 'confessionbear'], ['Conspiracy Keanu', 'conspiracykeanu'], ['Dating Site Murderer', 'datingsitemurderer'], ['Drunk Baby', 'drunkbaby'], ['First World Problems', 'firstworldproblems'], ['First World Problems Cat', 'firstworldproblemscat'], ['Forever Alone', 'foreveralone'], ['Good Guy Greg', 'goodguygreg'], ['Grandma Finds The Internet', 'grandmafindstheinternet'], ['Grumpy Cat', 'grumpycat'], ['High Expectations Asian Father', 'highexpectationsasianfather'], ['Hipster Barista', 'hipsterbarista'], ['Idiot Nerd Girl', 'idiotnerdgirl'], ['Lazy College Senior', 'lazycollegesenior'], ['Matrix Morpheus', 'matrixmorpheus'], ['Nineties Problems', 'ninetiesproblems'], ['Ordinary Muslim Man', 'ordinarymuslimman'], ['Overly Attached Girlfriend', 'oag'], ['Paranoid Parrot', 'paranoidparrot'], ['Philosoraptor', 'philosoraptor'], ['Pickup Line Scientist', 'pickuplinescientist'], ['Redditors Wife', 'redditorswife'], ['Ridiculously Photogenic Guy', 'ridiculouslyphotogenicguy'], ['Scumbag Alcohol', 'scumbagalcohol'], ['Scumbag Brain', 'scumbagbrain'], ['Scumbag Steve', 'scumbagsteve'], ['Sheltering Suburban Mom', 'shelteringsuburbanmom'], ['Skeptical Third World Kid', 'skepticalthirdworldkid'], ['Socially Awesome Awkward Penguin', 'sociallyawesomeawkwardpenguin'], ['Socially Awkward Penguin', 'sociallyawkwardpenguin'], ['Successful Black Man', 'successfulblackman'], ['Success Kid', 'successkid'], ['Sudden Clarity Clarence', 'suddenclarityclarence'], ['Tech Impaired Duck', 'techimpairedduck'], ['Unhelpful High School Teacher', 'unhelpfulhighschoolteacher']], @pin.meme), {}, {class: "form-control"}) %>
     </div>   

     <div class="form-group">
       <%= f.label :testimonial_text_above_meme_user_picture %>
       <%= f.text_field :testimonialtop, class: "form-control", :autofocus => true %>
     </div>  

     <div class="form-group">
       <%= f.label :testimonial_text_below_meme_user_picture %>
       <%= f.text_field :testimonialbottom, class: "form-control", :autofocus => true %>
     </div>  

     <div class="form-group">
       <%= f.label :text_under_step_1 %>
       <%= f.text_field :question, class: "form-control" %>
     </div>

     <div class="form-group">
       <%= f.label :text_for_profit_section %>
       <%= f.text_field :profit, class: "form-control" %>
     </div>

     <div class="form-group">
       <%= f.label :text_after_push_for_on_the_iphone_app_button %>
       <%= f.text_field :button, class: "form-control", :autofocus => true %>
     </div>

     <div class="form-group">
       <%= f.label :your_fake_app_name %>
       <%= f.text_field :company, class: "form-control", :autofocus => true %>
     </div>  

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

</div>

<div class="col-lg-6"> 
  <h3 class="centertext">Guide</h3>
  <div class="guide">
</div>
</div>



</div>


