

<%= form_for @pin, html: { multipart: true } do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :epic_background_photo %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :word_or_phrase_that_will_go_before_grocery_fucking_coupons %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
       <%= f.label :button_text %>
       <%= f.text_field :button, class: "form-control", :autofocus => true %>
     </div>

    <div class="form-group">
       <%= f.label :choose_your_meme_user %>
       <%= f.select(:meme, options_for_select([['Actual Advice Mallard', 'actualadvicemallard'], ['Advice God', 'advicegod'], ['Annoying Facebook Girl', 'annoyingfacebookgirl'], ['Baby Godfather', 'babygodfather'], ['Bad Luck Brian', 'badluckbrian'], ['Business Cat', 'businesscat'], ['College Liberal', 'collegeliberal'], ['Condescending Wonka', 'condescendingwonka'], ['Confession Bear', 'confessionbear'], ['Conspiracy Keanu', 'conspiracykeanu'], ['Dating Site Murderer', 'datingsitemurderer'], ['Drunk Baby', 'drunkbaby'], ['First World Problems', 'firstworldproblems'], ['First World Problems Cat', 'firstworldproblemscat'], ['Forever Alone', 'foreveralone'], ['Good Guy Greg', 'goodguygreg'], ['Grandma Finds The Internet', 'grandmafindstheinternet'], ['Grumpy Cat', 'grumpycat'], ['High Expectations Asian Father', 'highexpectationsasianfather'], ['Hipster Barista', 'hipsterbarista'], ['Idiot Nerd Girl', 'idiotnerdgirl'], ['Lazy College Senior', 'lazycollegesenior'], ['Matrix Morpheus', 'matrixmorpheus'], ['Nineties Problems', 'ninetiesproblems'], ['Ordinary Muslim Man', 'ordinarymuslimman'], ['Overly Attached Girlfriend', 'oag'], ['Paranoid Parrot', 'paranoidparrot'], ['Philosoraptor', 'philosoraptor'], ['Pickup Line Scientist', 'pickuplinescientist'], ['Redditors Wife', 'redditorswife'], ['Ridiculously Photogenic Guy', 'ridiculouslyphotogenicguy'], ['Scumbag Alcohol', 'scumbagalcohol'], ['Scumbag Brain', 'scumbagbrain'], ['Scumbag Steve', 'scumbagsteve'], ['Sheltering Suburban Mom', 'shelteringsuburbanmom'], ['Skeptical Third World Kid', 'skepticalthirdworldkid'], ['Socially Awesome Awkward Penguin', 'sociallyawesomeawkwardpenguin'], ['Socially Awkward Penguin', 'sociallyawkwardpenguin'], ['Successful Black Man', 'successfulblackman'], ['Success Kid', 'successkid'], ['Sudden Clarity Clarence', 'suddenclarityclarence'], ['Tech Impaired Duck', 'techimpairedduck'], ['Unhelpful High School Teacher', 'unhelpfulhighschoolteacher']]), {}, {class: "form-control"}) %>
      </div>   

    <div class="form-group">
       <%= f.label :testimonial_text_above_meme_user_picture %>
       <%= f.text_field :testimonialtop, class: "form-control", :autofocus => true %>
     </div>  

     <div class="form-group">
       <%= f.label :testimonial_text_below_meme_user_picture %>
       <%= f.text_field :testimonialbottom, class: "form-control", :autofocus => true %>
     </div>  

      <div class="form-group">
       <%= f.label :your_fake_app_name %>
       <%= f.text_field :company, class: "form-control", :autofocus => true %>
     </div>  

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>


