
<%= render 'pages/home' %>
<div class="container">
</br>
<h2 class="centertext">Check out and invest in user created app landing pages</h2>

 <div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <div class="panel-body centertext">
        <p>
        <strong><%= link_to pin.description + ' for...', pin_path(pin) %></strong>
      </p>
        <p> Total Money Invested: $<% if pin.score < 1 %><%= 0 %><% else %><%= pin.get_upvotes.size * 50000 %><% end %> </p>
        <p> # of Investors: <%= pin.get_upvotes.size %></p> 
        <p> # of Hater VCs: <%= pin.get_downvotes.size %></p> 
        <p>Founder: <%= pin.user.name if pin.user %></p>
        <%= link_to "Invest", like_pin_path(pin), method: :put %> |   
        <%= link_to "Reject", dislike_pin_path(pin), method: :put %>
        <% if pin.user == current_user %>
          <div class="actions">
            <%= link_to 'Edit', edit_pin_path(pin) %>
            <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
 </div>
</br>
</div>
