
<%= render 'pages/home' %>
<div class="container">
</br>
<h2 class="centertext">Check out and invest in user created app landing pages</h2>
</br>
<div class="centering"><%= link_to "Make your own Landing Page", new_pin_path, class: "btn btn-success btn-sm centering centertext" %></div>
</br>
 <div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <div class="panel-body centertext">
        <p>
        <strong><%= link_to pin.description + ' for ' + pin.market, pin_path(pin) %></strong>
      </p>
        <p> Total Money Invested: $<% if pin.score < 1 %><%= 0 %><% else %><%= pin.get_upvotes.size * 250000 %><% end %> </p>
        <p> # of Investors: <%= pin.get_upvotes.size %></p> 
        <p> # of Hater VCs: <%= pin.get_downvotes.size %></p> 
        
        <p>Startup Stage: <% if pin.get_upvotes.size < 2 %> <%= 'Friends & Family' %>
          <% elsif pin.get_upvotes.size < 8 %><%= 'Seed' %>
          <% elsif pin.get_upvotes.size < 31  %><%= 'Series A' %>
          <% elsif pin.get_upvotes.size < 59  %><%= 'Series B' %>
          <% elsif pin.get_upvotes.size < 99  %><%= 'Series C' %>
          <% else pin.get_upvotes.size >= 150 %><%= 'IPO' %><% end %>
         </p> 

         <p>Yearly Profit Run Rate:</p>
         <p> $<% if pin.get_upvotes.size < 2 %><%= (pin.get_upvotes.size - (pin.get_downvotes.size * 2)) * 115 %>
          <% elsif pin.get_upvotes.size < 8 %><%= (pin.get_upvotes.size - (pin.get_downvotes.size * 2)) * 1125 %>
          <% elsif pin.get_upvotes.size < 31 %><%= (pin.get_upvotes.size - (pin.get_downvotes.size * 2)) * 115000 %>
          <% elsif pin.get_upvotes.size < 59 %><%= (pin.get_upvotes.size - (pin.get_downvotes.size * 2)) * 715000 %>
          <% elsif pin.get_upvotes.size < 99 %><%= (pin.get_upvotes.size - (pin.get_downvotes.size * 2)) * 1515000 %>
          <% else pin.get_upvotes.size >= 99 %><%= (pin.get_upvotes.size - (pin.get_downvotes.size * 2)) * 10115000 %><% end %></p>


        <p>Founder: <%= pin.user.name if pin.user %></p>
        <%= link_to "Invest", like_pin_path(pin), method: :put %> |   
        <%= link_to "Reject", dislike_pin_path(pin), method: :put %>
        <% if pin.user == current_user %>
          <div class="actions">
            <%= link_to 'Edit', edit_pin_path(pin) %>
            <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
 </div>
</br>
</div>
