
<%= render 'pages/home' %>
<div class="container">
</br>
<h2 class="centertext">Check out and invest in user created app landing pages</h2>
</br>
<div class="centering"><%= link_to "Make your own Landing Page in 60 seconds", new_pin_path, class: "btn btn-success btn-sm centering centertext" %></div>
</br>
 <div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <div class="panel-body centertext">
        <h4>
        <strong><%= link_to pin.description + ' for ' + pin.market, pin_path(pin) %></strong>
      </h4>

        <p> Investment $ Received: $<% if pin.score < 1 %><%= 0 %><% else %><%= pin.get_upvotes.size * 250000 %><% end %> </p>
        <p> # of Investors: <%= pin.get_upvotes.size %> | # of Hater VCs: <%= pin.get_downvotes.size %></p> 
        
        <p>Stage: <% if pin.get_upvotes.size < 2 %> <%= 'Friends & Family' %>
          <% elsif pin.get_upvotes.size < 8 %><%= 'Seed' %>
          <% elsif pin.get_upvotes.size < 31  %><%= 'Series A' %>
          <% elsif pin.get_upvotes.size < 59  %><%= 'Series B' %>
          <% elsif pin.get_upvotes.size < 99  %><%= 'Series C' %>
          <% else pin.get_upvotes.size >= 150 %><%= 'IPO' %><% end %>
         </p> 

         <p>Yearly Profit Run Rate:</p>
         <p> $<% if pin.get_upvotes.size < 2 %><%= (pin.get_upvotes.size - (pin.get_downvotes.size * 2)) * 115 %>
          <% elsif pin.get_upvotes.size < 8 %><%= (pin.get_upvotes.size - (pin.get_downvotes.size * 2)) * 1125 %>
          <% elsif pin.get_upvotes.size < 31 %><%= (pin.get_upvotes.size - (pin.get_downvotes.size * 2)) * 115000 %>
          <% elsif pin.get_upvotes.size < 59 %><%= (pin.get_upvotes.size - (pin.get_downvotes.size * 2)) * 715000 %>
          <% elsif pin.get_upvotes.size < 99 %><%= (pin.get_upvotes.size - (pin.get_downvotes.size * 2)) * 1515000 %>
          <% else pin.get_upvotes.size >= 99 %><%= (pin.get_upvotes.size - (pin.get_downvotes.size * 2)) * 10115000 %><% end %></p>


        <p>Founder: <%= pin.user.name if pin.user %></p>
        <h4><strong><%= link_to "Invest", like_pin_path(pin), method: :put %> |   
        <%= link_to "Reject", dislike_pin_path(pin), method: :put %></strong></h4>


        <% if pin.user == current_user %>
          <div class="actions">
            <%= link_to 'Edit', edit_pin_path(pin) %> |
             <%= link_to ' Delete', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </br>
<div id="share-buttons">

<!-- Reddit -->
<a href="http://reddit.com/submit?url=http://www.thisappisbetterthanyours.com&title=" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" /></a>    
 
<!-- Facebook -->
<a href="http://www.facebook.com/sharer.php?u=http://www.thisappisbetterthanyours.com" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
 
<!-- Twitter -->
<a href="http://twitter.com/share?url=http://www.thisappisbetterthanyours&text=Simple Share Buttons&hashtags=swag" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
 
</div>


      </div>
    </div>
  <% end %>
 </div>
</br>
</div>
