
<%= render 'pages/home' %>
<div class="container">
</br>
<h2 class="centertext">User Created Startup Landing Pages</h2>



 <div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
      <div class="panel-body">
        <p><%= pin.description %> for Grocery. Fucking. Coupons.</p>
        <strong><p>Submitted by: <%= pin.user.name if pin.user %></p></strong>
        <%= link_to 'View Landing Page', pin_path(pin) %>
        <% if pin.user == current_user %>
          <div class="actions">
            <%= link_to 'Edit', edit_pin_path(pin) %>
            <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
 </div>
</br>
</div>
