<nav class="navbar  navbar-default" role="navigation">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand">
      <%= link_to "Uber for Grocery. Fucking. Coupons.", root_path %></li>
    </div>  
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to new_pin_path do %>
              <span class="glyphicon glyphicon-plus"></span> Create a Better Landing Page
            <% end %>
          </li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "Account Settings", edit_user_registration_path %></li>
        <% else %>
          <li>
            <%= link_to new_pin_path do %>
              <span class="glyphicon glyphicon-plus"></span> Create a Better Landing Page
            <% end %>
          </li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</div>
</nav>
   
<div class="clouds jumbotron">
	<div class="container">
    <% if user_signed_in? %>
    <div class="well well-sm centertext greentext">
      Sweet, you are on the early app release email list. Make your own landing pages while you wait and vote for other user landing pages.
      </div>     
    <% else %>
    <% end %> 
    </br>
 
  
  <h1>This app gonna be like</h1>
  <h1>Uber</h1>
  <h1><i>for</i></h1>
  <h1>Grocery. Fucking. Coupons.</h1>
  
  </br>
  </br>

      </br>
      <% if user_signed_in? %>
          <%= link_to "Think you can do better? Make your own damn App Landing Page", new_pin_path, class: "btn btn-primary btn-lg" %>
        </br>
     <% else %>
       <p>
         <%= link_to "YOLO", new_user_registration_path, class: "btn btn-success btn-lg" %>
       </p>
  <% end %> 
   </br>
   

   <div id="share-buttons">

<!-- Reddit -->
<a href="http://reddit.com/submit?url=http://www.simplesharebuttons.com&title=Simple Share Buttons" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" /></a>    
 
<!-- Facebook -->
<a href="http://www.facebook.com/sharer.php?u=http://www.simplesharebuttons.com" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
 
<!-- Twitter -->
<a href="http://twitter.com/share?url=http://www.simplesharebuttons.com&text=Simple Share Buttons&hashtags=simplesharebuttons" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
 
<!-- Email -->
<a href="mailto:?Subject=Simple Share Buttons&Body=I%20saw%20this%20and%20thought%20of%20you!%20 http://www.simplesharebuttons.com"><img src="http://www.simplesharebuttons.com/images/somacro/email.png" alt="Email" /></a>
 
</div>

</br>

  </div> 
</div>

<div class="testimonial">
	  <h3 class="centertext">Our User Loves Us:</h3>
	  <h4 class="centertext text-muted">"Your app saves me so much money grocery shopping!"</h5>
	  <img class="oag img-circle"></img>
	  <h4 class="centertext text-muted">"You won't let anyone else download it, will you?"
	</br>
</div>
</br>

      <!-- Three columns of text below the carousel -->
      <div class="row centertext blueback cloudtext">
      </br>
      <h3>Here's our Brilliant Business Plan:</h3>
    </br>
      <div class="container">
        <div class="col-lg-4">
          <img class="mountainPlaceholder roundedrec"></img>
          <h2>Step 1</h2>
          <p>That epic pic we found on the internet looks awesome doesn't it? How could our app not be successful? Epic pics courtesty of superfamous.com.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="questionPlaceholder roundedrec"></img>
          <h2>Step 2</h2>
          <p>????</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="barsPlaceholder roundedrec"></img>
          <h2>Profit</h2>
          <p>It turns out we can save you boatloads of Zimbabwean dollars at the Grocery Store. Maybe you will spare us a suitcase of your loot? If not, ads. ads. ads.</p>
        </div><!-- /.col-lg-4 -->
      </div>
    </br>
      </div><!-- /.row -->

<div class="blueback">
</br>
</br>
<div img class="iphone"></img>
  <div class="text-box">
    <div class="text"> PUSH FOR  </div>
    <div class="text-2">GROCERY. FUCKING. COUPONS.</div>
  </div>
  </div>
</div>      

<div class="bottomline">
  </br>
	<h4 class="centertext">The Uber for Grocery. Fucking. Coupons. App&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coming Real Soon</h4>
  </br>	
</div>	

